server/edit.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="FoodEditSoapService"
                  targetNamespace="http://ns.esha.com/2013/genesisapi"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:tns="http://ns.esha.com/2013/genesisapi"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsp:Policy wsu:Id="WSHttpBinding_IFoodEditService_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsaw:UsingAddressing/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://ns.esha.com/2013/genesisapi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="NewFoodRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Foods" minOccurs="1" maxOccurs="1" type="q1:ArrayOfFoodDto" xmlns:q1="http://ns.esha.com/2013/genesisapi"/>
                        <xs:element name="NutrientProfiles" minOccurs="1" maxOccurs="1" type="q2:ArrayOfNutrientProfileDto" xmlns:q2="http://ns.esha.com/2013/genesisapi"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NewFoodResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="AddedFoodsCount" type="xs:int" />
                        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="q22:ArrayOfEditError" xmlns:q22="http://ns.esha.com/2013/genesisapi"/>
                        <xs:element minOccurs="1" maxOccurs="1" ref="q22:Status" xmlns:q22="http://ns.esha.com/2013/genesisapi"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateFoodRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Foods" minOccurs="1" maxOccurs="1" type="q6:ArrayOfFoodDto" xmlns:q6="http://ns.esha.com/2013/genesisapi"/>
                        <xs:element name="NutrientProfiles" minOccurs="1" maxOccurs="1" type="q7:ArrayOfNutrientProfileDto" xmlns:q7="http://ns.esha.com/2013/genesisapi"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateFoodResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="UpdatedFoodsCount" type="xs:int" />
                        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="q22:ArrayOfEditError" xmlns:q22="http://ns.esha.com/2013/genesisapi"/>
                        <xs:element minOccurs="1" maxOccurs="1" ref="q22:Status" xmlns:q22="http://ns.esha.com/2013/genesisapi"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>

        <xs:schema elementFormDefault="qualified" targetNamespace="http://ns.esha.com/2013/genesisapi" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ns.esha.com/2013/genesisapi" xmlns:mstypes="http://microsoft.com/wsdl/types/">
            <xs:import namespace="http://ns.esha.com/2013/exlx" />
            <xs:import namespace="http://microsoft.com/wsdl/types/" />
            <xs:complexType name="ArrayOfEditError">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="unbounded" name="Error" type="tns:EditError" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EditError">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="FoodId" type="mstypes:guid" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Message" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="PropertyValues">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:any processContents="lax" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfFoodDto">
                <xs:choice>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:Ingredient" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:Recipe" />
                </xs:choice>
            </xs:complexType>
            <xs:complexType name="ArrayOfNutrientProfileDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="NutrientProfile" nillable="true" type="q1:NutrientProfileDto" xmlns:q1="http://ns.esha.com/2013/exlx"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Ingredient" nillable="true" type="q1:IngredientDto" xmlns:q1="http://ns.esha.com/2013/exlx"/>
            <xs:element name="Recipe" nillable="true" type="q1:RecipeDto" xmlns:q1="http://ns.esha.com/2013/exlx"/>
            <xs:element name="Status" type="tns:ResultStatus"/>
            <xs:complexType name="ResultStatus">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="StatusMessage" type="tns:StatusMessage" />
                    <xs:element minOccurs="1" maxOccurs="1" name="StatusCode" type="tns:StatusCode" />
                    <xs:element minOccurs="0" maxOccurs="1" name="StatusDetail" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="StatusMessage">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Ok"/>
                    <xs:enumeration value="BadRequest"/>
                    <xs:enumeration value="NotFound"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="StatusCode">
                <xs:restriction base="xs:int">
                    <xs:enumeration value="200"/>
                    <xs:enumeration value="400"/>
                    <xs:enumeration value="404"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>


        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ns.esha.com/2013/types" version="2.0" id="GlobalString" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://www.w3.org/XML/1998/namespace" />
            <xs:complexType name="GlobalString">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="unbounded" name="Value">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string">
                                    <xs:attribute ref="xml:lang" use="required" />
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>

        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ns.esha.com/2013/types" version="2.0" id="XmlDateTimeOffset" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://www.w3.org/XML/1998/namespace" />
            <xs:complexType name="XmlDateTimeOffset">
                <xs:sequence>
                    <xs:element name="DateTime">
                        <xs:simpleType>
                            <xs:restriction base="xs:dateTime" />
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="UtcOffsetInMinutes">
                        <xs:simpleType>
                            <xs:restriction base="xs:int" />
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>

        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ns.esha.com/2013/types" version="2.0" id="XmlVersion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://www.w3.org/XML/1998/namespace" />
            <xs:simpleType name="XmlVersion">
                <xs:restriction base="xs:string">
                    <xs:pattern value="([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])[.]([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])([.]([01]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])){0,2}" />
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>

        <xs:schema xmlns:tns="http://ns.esha.com/2013/exlx" elementFormDefault="qualified" targetNamespace="http://ns.esha.com/2013/exlx" version="4.0" id="Exlx" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:t="http://ns.esha.com/2013/types" xmlns:mstypes="http://microsoft.com/wsdl/types/">
            <xs:import namespace="http://www.w3.org/XML/1998/namespace" />
            <xs:import namespace="http://ns.esha.com/2013/types" />
            <xs:import namespace="http://microsoft.com/wsdl/types/" />

            <xs:complexType name="LabelRuleDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Association" nillable="true" type="mstypes:guid" />
                            <xs:element minOccurs="1" maxOccurs="1" name="SignificanceLevel" nillable="true" type="xs:double" />
                            <xs:element minOccurs="1" maxOccurs="1" name="RoundingRule" nillable="true" type="xs:int" />
                            <xs:element minOccurs="1" maxOccurs="1" name="Mandatory" nillable="true" type="xs:boolean" />
                            <xs:element minOccurs="1" maxOccurs="1" name="LabelOrder" nillable="true" type="xs:int" />
                            <xs:element minOccurs="1" maxOccurs="1" name="Indented" type="xs:int" />
                            <xs:element minOccurs="1" maxOccurs="1" name="IsBold" type="xs:boolean" />
                            <xs:element minOccurs="0" maxOccurs="1" name="AlternateNames" type="tns:ArrayOfString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Abbreviations" type="tns:ArrayOfString1" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="EshaDto" abstract="true">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Id" nillable="true" type="mstypes:guid" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IngredientSourceDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="t:GlobalString" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="RecommendationDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="1" name="NutrientId" type="mstypes:guid" />
                            <xs:element minOccurs="0" maxOccurs="1" name="RecommendedValue" type="tns:QuantityDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="RangeHighValue" type="tns:QuantityDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="RangeLowValue" type="tns:QuantityDto" />
                            <xs:element minOccurs="1" maxOccurs="1" name="RecommendationType" type="tns:RecommendationType" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="QuantityDto">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="Type" type="tns:QuantityType" use="required" />
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:simpleType name="QuantityType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Unknown" />
                    <xs:enumeration value="Double" />
                    <xs:enumeration value="Decimal" />
                    <xs:enumeration value="Rational" />
                    <xs:enumeration value="BigRational" />
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="RecommendationType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Range" />
                    <xs:enumeration value="ShouldExceed" />
                    <xs:enumeration value="ShouldNotExceed" />
                    <xs:enumeration value="Percentage" />
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="RecommendationProfileDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Gender" nillable="true" type="tns:Gender" />
                            <xs:element minOccurs="0" maxOccurs="1" name="AgeHighDays" nillable="true" type="xs:int" />
                            <xs:element minOccurs="0" maxOccurs="1" name="AgeLowDays" nillable="true" type="xs:int" />
                            <xs:element minOccurs="0" maxOccurs="1" name="HeightCentimeters" nillable="true" type="xs:double" />
                            <xs:element minOccurs="0" maxOccurs="1" name="WeightKilograms" nillable="true" type="xs:double" />
                            <xs:element minOccurs="0" maxOccurs="1" name="ActivityLevel" nillable="true" type="tns:ActivityLevel" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Authority" type="tns:AuthorityDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Recommendations" type="tns:ArrayOfRecommendationDto" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:simpleType name="Gender">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Unspecified" />
                    <xs:enumeration value="Male" />
                    <xs:enumeration value="Female" />
                    <xs:enumeration value="Pregnant" />
                    <xs:enumeration value="Nursing" />
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="ActivityLevel">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Unspecified" />
                    <xs:enumeration value="Sedentary" />
                    <xs:enumeration value="LowActive" />
                    <xs:enumeration value="Active" />
                    <xs:enumeration value="VeryActive" />
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="AuthorityDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Iso3166Alpha2" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Iso3166Alpha3" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Iso3166Numeric" nillable="true" type="xs:int" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ArrayOfRecommendationDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Recommendation" nillable="true" type="tns:RecommendationDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ActivityDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="t:GlobalString" />
                            <xs:element minOccurs="1" maxOccurs="1" name="Mets" type="xs:double" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ConversionMapDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Conversions" type="tns:ArrayOfConversionDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="ParentId" nillable="true" type="mstypes:guid" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ArrayOfConversionDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Conversion" nillable="true" type="tns:ConversionDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ConversionDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="From" type="tns:AmountDto" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ConversionFactor" type="tns:QuantityDto" />
                    <xs:element minOccurs="0" maxOccurs="1" name="To" type="tns:AmountDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AmountDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Quantity" type="tns:QuantityDto" />
                    <xs:element minOccurs="1" maxOccurs="1" name="UnitId" nillable="true" type="mstypes:guid" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ConversionsRootDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Conversions" type="tns:ArrayOfConversionDto" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="NutrientTransformDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="t:GlobalString" />
                            <xs:element minOccurs="1" maxOccurs="1" name="TransformType" type="tns:NutrientTransformType" />
                            <xs:element minOccurs="0" maxOccurs="1" name="ScalarTransform" type="tns:QuantityDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="VectorTransform" type="tns:DictionaryOfGuidToQuantityDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="TransformIds" type="tns:ArrayOfGuid" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:simpleType name="NutrientTransformType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Vector" />
                    <xs:enumeration value="Scalar" />
                    <xs:enumeration value="Compound" />
                    <xs:enumeration value="Overage" />
                    <xs:enumeration value="Moisture" />
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="ArrayOfGuid">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Id" type="mstypes:guid" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WorkingNutrientsDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="WorkingNutrientsIds" type="tns:ArrayOfGuid" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="GroupDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="ParentId" nillable="true" type="mstypes:guid" />
                            <xs:element minOccurs="0" maxOccurs="1" name="ParentGroupName" type="t:GlobalString" />
                            <xs:element minOccurs="1" maxOccurs="1" name="GroupType" type="tns:GroupType" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Nutrients" type="tns:ArrayOfGuid" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Foods" type="tns:ArrayOfGuid" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Consumers" type="tns:ArrayOfGuid" />
                            <xs:element minOccurs="0" maxOccurs="1" name="AllergenRules" type="tns:DictionaryOfGuidToAllergenRule" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:simpleType name="GroupType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Allergen" />
                    <xs:enumeration value="Food" />
                    <xs:enumeration value="Nutrient" />
                    <xs:enumeration value="Consumer" />
                    <xs:enumeration value="Haccp" />
                    <xs:enumeration value="Archive" />
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="HeaderTextOptionDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="t:GlobalString" />
                            <xs:element minOccurs="1" maxOccurs="1" name="RecommendationProfileId" type="mstypes:guid" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="NutrientProfileDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="ConversionMapId" nillable="true" type="mstypes:guid" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Conversions" type="tns:ArrayOfConversionDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="DefiningAmount" type="tns:AmountDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="NutrientIdVector" type="tns:DictionaryOfGuidToQuantityDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="LegacyRefNum" nillable="true" type="xs:int" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="JournalEntryDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Occurred" type="t:XmlDateTimeOffset" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="JournalDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="JournalEntries" type="tns:ArrayOfJournalEntryDto" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ArrayOfJournalEntryDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="JournalEntryDto" nillable="true" type="tns:JournalEntryDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ConsumerDto" abstract="true">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="CommonName" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Description" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="EshaCode" nillable="true" type="xs:int" />
                            <xs:element minOccurs="0" maxOccurs="1" name="UserCode" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="LegacyKey" nillable="true" type="xs:int" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Created" type="t:XmlDateTimeOffset" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Modified" type="t:XmlDateTimeOffset" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Brand" type="tns:BrandDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Journal" type="tns:JournalDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="GroupsIds" type="tns:ArrayOfGuid" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="BrandDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Supplier" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Product" type="xs:string" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="PersonDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:ConsumerDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="GivenName" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="FamilyName" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="PostalCode" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Country" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="FaxNumber" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Allergies" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Physicians" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="DietaryRestrictions" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="DesiredWeightKilograms" nillable="true" type="xs:double" />
                            <xs:element minOccurs="0" maxOccurs="1" name="RatePerWeekKilograms" nillable="true" type="xs:double" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="LabelNutrientDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="1" name="NutrientId" type="mstypes:guid" />
                            <xs:element minOccurs="0" maxOccurs="1" name="AnalysisId" nillable="true" type="mstypes:guid" />
                            <xs:element minOccurs="0" maxOccurs="1" name="DisplayValue" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="RoundedValue" type="tns:AmountDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="RawValue" type="tns:AmountDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="DailyValues" type="tns:ArrayOfDailyValueDto" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ArrayOfDailyValueDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="DailyValue" nillable="true" type="tns:DailyValueDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DailyValueDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Authority" type="tns:AuthorityDto" />
                    <xs:element minOccurs="1" maxOccurs="1" name="RecommendationProfileId" type="mstypes:guid" />
                    <xs:element minOccurs="0" maxOccurs="1" name="DisplayValue" type="xs:string" />
                    <xs:element minOccurs="1" maxOccurs="1" name="Percentage" type="xs:double" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LabelDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="ServingSizeWeight" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="ServingSizeText" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="ServingSizeCombined" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="ServingsPerContainer" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Nutrients" type="tns:ArrayOfLabelNutrientDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="AllergenStatements" type="tns:ArrayOfAllergenStatementDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="IngredientStatements" type="tns:ArrayOfIngredientStatementDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Foods" type="tns:ArrayOfGuid" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ArrayOfLabelNutrientDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="LabelNutrient" nillable="true" type="tns:LabelNutrientDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfAllergenStatementDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="AllergenStatement" nillable="true" type="tns:AllergenStatementDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AllergenStatementDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:StatementBaseDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="AllergenGroups" type="tns:ArrayOfGuid" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="StatementBaseDto" abstract="true">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Text" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Authority" type="tns:AuthorityDto" />
                            <xs:element minOccurs="1" maxOccurs="1" name="IsUserOverridden" type="xs:boolean" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Delimiter" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Created" type="t:XmlDateTimeOffset" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Modified" type="t:XmlDateTimeOffset" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="IngredientStatementDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:StatementBaseDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfIngredientStatementItemDto" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ArrayOfIngredientStatementItemDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="IngredientStatementItemDto" nillable="true" type="tns:IngredientStatementItemDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IngredientStatementItemDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Text" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="SubItems" type="tns:ArrayOfIngredientStatementItemDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="GramGrossWeight" type="tns:QuantityDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="GramNetWeight" type="tns:QuantityDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="PercentOfRootGross" type="tns:QuantityDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="PercentOfRootNet" type="tns:QuantityDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="PercentOfParentGross" type="tns:QuantityDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="PercentOfParentNet" type="tns:QuantityDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="SubItemGroupStartDelimiter" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="SubItemGroupEndDelimiter" type="xs:string" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ArrayOfIngredientStatementDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="IngredientStatement" nillable="true" type="tns:IngredientStatementDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MealTypeDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="StandardKey" nillable="true" type="tns:StandardMealTypes" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:simpleType name="StandardMealTypes">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="NoMeal" />
                    <xs:enumeration value="Breakfast" />
                    <xs:enumeration value="MorningSnack" />
                    <xs:enumeration value="Lunch" />
                    <xs:enumeration value="AfternoonSnack" />
                    <xs:enumeration value="Dinner" />
                    <xs:enumeration value="EveningSnack" />
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="StatementSettingsBaseDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Authority" type="tns:AuthorityDto" />
                            <xs:element minOccurs="1" maxOccurs="1" name="FoodId" type="mstypes:guid" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Created" type="t:XmlDateTimeOffset" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Modified" type="t:XmlDateTimeOffset" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="IngredientStatementSettingsDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:StatementSettingsBaseDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="ItemsOverrideText" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="StatementNameOverride" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="AdditionalItems" type="tns:ArrayOfAdditionalItemIngredientStatementSettingsDto" />
                            <xs:element minOccurs="1" maxOccurs="1" name="CompositionBehavior" type="tns:IngredientStatementCompositionBehavior" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ArrayOfAdditionalItemIngredientStatementSettingsDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalItemIngredientStatementSettingsDto" nillable="true" type="tns:AdditionalItemIngredientStatementSettingsDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AdditionalItemIngredientStatementSettingsDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:IngredientStatementSettingsDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="PercentWeight" type="tns:QuantityDto" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:simpleType name="IngredientStatementCompositionBehavior">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Override" />
                    <xs:enumeration value="Merged" />
                    <xs:enumeration value="Single" />
                    <xs:enumeration value="Expanded" />
                    <xs:enumeration value="Ignore" />
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="AllergenStatementSettingsDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:StatementSettingsBaseDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="OverrideText" type="t:GlobalString" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ItemAnalysisDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="1" name="FoodItemId" type="mstypes:guid" />
                            <xs:element minOccurs="1" maxOccurs="1" name="TargetFoodId" type="mstypes:guid" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Analysis" type="tns:AnalysisDto" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="AnalysisDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="AmountAnalyzed" type="tns:AmountDto" />
                            <xs:element minOccurs="1" maxOccurs="1" name="WeightUnitId" type="mstypes:guid" />
                            <xs:element minOccurs="0" maxOccurs="1" name="GrossWeight" type="tns:QuantityDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="NetWeight" type="tns:QuantityDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Created" type="t:XmlDateTimeOffset" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Modified" type="t:XmlDateTimeOffset" />
                            <xs:element minOccurs="1" maxOccurs="1" name="AmountTarget" type="tns:AmountTarget" />
                            <xs:element minOccurs="0" maxOccurs="1" name="GrossNutrientValues" type="tns:ArrayOfNutrientInfoDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="NetNutrientValues" type="tns:ArrayOfNutrientInfoDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="ItemAnalyses" type="tns:ArrayOfItemAnalysisDto" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:simpleType name="AmountTarget">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Gross" />
                    <xs:enumeration value="Net" />
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="ArrayOfNutrientInfoDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="NutrientInfo" nillable="true" type="tns:NutrientInfoDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NutrientInfoDto">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="NutrientId" type="mstypes:guid" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Quantity" type="tns:QuantityDto" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Unknown" type="tns:QuantityDto" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Weight" type="tns:QuantityDto" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Overridden" type="tns:QuantityDto" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Calculated" type="tns:QuantityDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfItemAnalysisDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemAnalysis" nillable="true" type="tns:ItemAnalysisDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FoodDto" abstract="true">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="CommonName" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Description" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Notes" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="DefiningAmount" type="tns:AmountDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="AmountCost" type="tns:AmountCostDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="DefaultWeightUnitId" nillable="true" type="mstypes:guid" />
                            <xs:element minOccurs="0" maxOccurs="1" name="ConversionMapId" nillable="true" type="mstypes:guid" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Conversions" type="tns:ArrayOfConversionDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfChoice1" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Analyses" type="tns:ArrayOfAnalysisDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="GlycemicIndex" type="tns:QuantityDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Created" type="t:XmlDateTimeOffset" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Modified" type="t:XmlDateTimeOffset" />
                            <xs:element minOccurs="0" maxOccurs="1" name="LegacyKey" nillable="true" type="xs:int" />
                            <xs:element minOccurs="0" maxOccurs="1" name="LegacyNutrientRefNum" nillable="true" type="xs:int" />
                            <xs:element minOccurs="0" maxOccurs="1" name="LegacyYieldKey" nillable="true" type="xs:int" />
                            <xs:element minOccurs="0" maxOccurs="1" name="UserCode" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="UsdaCode" nillable="true" type="xs:int" />
                            <xs:element minOccurs="0" maxOccurs="1" name="EshaCode" nillable="true" type="xs:int" />
                            <xs:element minOccurs="0" maxOccurs="1" name="OwnerName" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="AlternateNames" type="tns:ArrayOfString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="AllergenStatementSettings" type="tns:ArrayOfAllergenStatementSettingsDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="IngredientStatementSettings" type="tns:ArrayOfIngredientStatementSettingsDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="AllergenStatements" type="tns:ArrayOfAllergenStatementDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="IngredientStatements" type="tns:ArrayOfIngredientStatementDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Brand" type="tns:BrandDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Groups" type="tns:ArrayOfGuid" />
                            <xs:element minOccurs="0" maxOccurs="1" name="NutrientTransforms" type="tns:ArrayOfGuid" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Images" type="tns:ArrayOfImageModelDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Labels" type="tns:ArrayOfGuid" />
                            <xs:element minOccurs="0" maxOccurs="1" name="AnalysisOverrides" type="tns:AnalysisOverrideDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="PropertyValues">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="AmountCostDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Amount" type="tns:AmountDto" />
                    <xs:element minOccurs="1" maxOccurs="1" name="Cost" type="xs:decimal" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfChoice1">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element minOccurs="1" maxOccurs="1" name="FoodItem" nillable="true" type="tns:FoodItemDto" />
                    <xs:element minOccurs="1" maxOccurs="1" name="SupplementFormulaFoodItem" nillable="true" type="tns:SupplementFormulaFoodItemDto" />
                    <xs:element minOccurs="1" maxOccurs="1" name="PureFoodItem" nillable="true" type="tns:PureFoodItemDto" />
                </xs:choice>
            </xs:complexType>
            <xs:complexType name="FoodItemDto">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="FoodId" type="mstypes:guid" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Amount" type="tns:AmountDto" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Note" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SupplementFoodItemDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:FoodItemDto">
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="1" name="Bioactivity" type="tns:Bioactivity" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:simpleType name="Bioactivity">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Active" />
                    <xs:enumeration value="Inactive" />
                    <xs:enumeration value="HeavyMetal" />
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="SupplementFormulaFoodItemDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:SupplementFoodItemDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="MoistureLoss" type="tns:AmountDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="PercentOverage" type="tns:AmountDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="LabelClaimUnit" type="tns:UnitDto" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="UnitDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="1" name="Dimension" type="tns:Dimension" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Abbreviation" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="StandardKey" nillable="true" type="tns:StandardUnits" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:simpleType name="Dimension">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Volume" />
                    <xs:enumeration value="Discrete" />
                    <xs:enumeration value="Weight" />
                    <xs:enumeration value="Bioactive" />
                    <xs:enumeration value="Relative" />
                    <xs:enumeration value="Energy" />
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="StandardUnits">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Appetizer" />
                    <xs:enumeration value="AsIs" />
                    <xs:enumeration value="Bag" />
                    <xs:enumeration value="Barrel" />
                    <xs:enumeration value="Bottle" />
                    <xs:enumeration value="Bowl" />
                    <xs:enumeration value="Box" />
                    <xs:enumeration value="Calorie" />
                    <xs:enumeration value="Can" />
                    <xs:enumeration value="CanOrJar" />
                    <xs:enumeration value="Cap" />
                    <xs:enumeration value="Caplet" />
                    <xs:enumeration value="Capsule" />
                    <xs:enumeration value="Carton" />
                    <xs:enumeration value="Case" />
                    <xs:enumeration value="Container" />
                    <xs:enumeration value="Cube" />
                    <xs:enumeration value="CubicInch" />
                    <xs:enumeration value="CubicLightYear" />
                    <xs:enumeration value="Cup" />
                    <xs:enumeration value="Dozen" />
                    <xs:enumeration value="Drop" />
                    <xs:enumeration value="DryServing" />
                    <xs:enumeration value="Each" />
                    <xs:enumeration value="Entree" />
                    <xs:enumeration value="ExtraLarge" />
                    <xs:enumeration value="Family" />
                    <xs:enumeration value="FluidOunce" />
                    <xs:enumeration value="Gallon" />
                    <xs:enumeration value="Gelcap" />
                    <xs:enumeration value="Gram" />
                    <xs:enumeration value="Individual" />
                    <xs:enumeration value="IndividualBag" />
                    <xs:enumeration value="IndividualCup" />
                    <xs:enumeration value="IndividualPackage" />
                    <xs:enumeration value="IndividualPacket" />
                    <xs:enumeration value="Intake" />
                    <xs:enumeration value="IU" />
                    <xs:enumeration value="Jar" />
                    <xs:enumeration value="JarOrBottle" />
                    <xs:enumeration value="Jumbo" />
                    <xs:enumeration value="Kids" />
                    <xs:enumeration value="Kilogram" />
                    <xs:enumeration value="Large" />
                    <xs:enumeration value="Liter" />
                    <xs:enumeration value="Lozenge" />
                    <xs:enumeration value="Meal" />
                    <xs:enumeration value="Medium" />
                    <xs:enumeration value="Microgram" />
                    <xs:enumeration value="Milligram" />
                    <xs:enumeration value="Milliliter" />
                    <xs:enumeration value="Mini" />
                    <xs:enumeration value="Number10Can" />
                    <xs:enumeration value="Number300Can" />
                    <xs:enumeration value="Number303Can" />
                    <xs:enumeration value="Number401Can" />
                    <xs:enumeration value="Number404Can" />
                    <xs:enumeration value="OneLiterCanOrJar" />
                    <xs:enumeration value="Order" />
                    <xs:enumeration value="OunceWeight" />
                    <xs:enumeration value="Package" />
                    <xs:enumeration value="PartsPerMillion" />
                    <xs:enumeration value="Pat" />
                    <xs:enumeration value="Pellet" />
                    <xs:enumeration value="Percent" />
                    <xs:enumeration value="Piece" />
                    <xs:enumeration value="Pint" />
                    <xs:enumeration value="PortionCup" />
                    <xs:enumeration value="Pouch" />
                    <xs:enumeration value="Pound" />
                    <xs:enumeration value="Quart" />
                    <xs:enumeration value="Regular" />
                    <xs:enumeration value="Scoop" />
                    <xs:enumeration value="SecondSpray" />
                    <xs:enumeration value="Serving" />
                    <xs:enumeration value="Sheet" />
                    <xs:enumeration value="Side" />
                    <xs:enumeration value="Slice" />
                    <xs:enumeration value="Small" />
                    <xs:enumeration value="Softgel" />
                    <xs:enumeration value="Stick" />
                    <xs:enumeration value="Tablespoon" />
                    <xs:enumeration value="Tablet" />
                    <xs:enumeration value="Teaspoon" />
                    <xs:enumeration value="ThickSlice" />
                    <xs:enumeration value="ThinSlice" />
                    <xs:enumeration value="Topping" />
                    <xs:enumeration value="Whole" />
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="PureFoodItemDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:SupplementFoodItemDto" />
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ArrayOfAnalysisDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Analysis" nillable="true" type="tns:AnalysisDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfString">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Name" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfAllergenStatementSettingsDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="AllergenStatementSetting" nillable="true" type="tns:AllergenStatementSettingsDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfIngredientStatementSettingsDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="IngredientStatementSetting" nillable="true" type="tns:IngredientStatementSettingsDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfImageModelDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Image" nillable="true" type="tns:ImageModelDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ImageModelDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Data" type="xs:base64Binary" />
                </xs:sequence>
                <xs:attribute name="IsDefault" type="xs:boolean" />
            </xs:complexType>
            <xs:complexType name="AnalysisOverrideDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Amount" type="tns:AmountDto" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Overrides" type="tns:DictionaryOfGuidToQuantityDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DietRecallDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:FoodDto">
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="1" name="ConsumerId" type="mstypes:guid" />
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="DateTime" type="t:XmlDateTimeOffset" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="IntakeDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:FoodDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="ForDate" type="t:XmlDateTimeOffset" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="MealDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:FoodDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="MealType" type="tns:MealTypeDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="LegacyPosition" nillable="true" type="xs:int" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="RecipeDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:FoodDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="HaccpIds" type="tns:ArrayOfGuid" />
                            <xs:element minOccurs="0" maxOccurs="1" name="CookMethod" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="CookTemperature" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="CookTime" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Instructions" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="HaccpHeadingLevel" nillable="true" type="xs:int" />
                            <xs:element minOccurs="0" maxOccurs="1" name="PanSize" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="PreparationTime" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="ContentClaimReferenceId" nillable="true" type="mstypes:guid" />
                            <xs:element minOccurs="0" maxOccurs="1" name="DefinedServingWeightConversion" type="tns:ConversionDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="NutrientContentClaimsText" type="t:GlobalString" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="SupplementFormulaDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:FoodDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="DefaultServingSize" type="tns:AmountDto" />
                            <xs:element minOccurs="0" maxOccurs="1" name="DefaultBatchSize" type="tns:BatchSizeDto" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="BatchSizeDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="ServingsPerContainer" type="tns:QuantityDto" />
                    <xs:element minOccurs="0" maxOccurs="1" name="NumberOfContainers" type="tns:QuantityDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SupplementIngredientDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:FoodDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="IngredientSourceId" nillable="true" type="mstypes:guid" />
                            <xs:element minOccurs="0" maxOccurs="1" name="ShelfLifeDays" nillable="true" type="xs:int" />
                            <xs:element minOccurs="0" maxOccurs="1" name="LatinName" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Concentration" type="xs:string" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="IngredientDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:FoodDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="NutrientProfileId" nillable="true" type="mstypes:guid" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="PureFoodDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:IngredientDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="BaseNutrient" type="tns:NutrientDto" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="NutrientDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="t:GlobalString" />
                            <xs:element minOccurs="0" maxOccurs="1" name="UnitId" nillable="true" type="mstypes:guid" />
                            <xs:element minOccurs="0" maxOccurs="1" name="LegacyKey" nillable="true" type="xs:int" />
                            <xs:element minOccurs="0" maxOccurs="1" name="StandardKey" nillable="true" type="tns:StandardNutrients" />
                            <xs:element minOccurs="1" maxOccurs="1" name="IsScalar" type="xs:boolean" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Precision" nillable="true" type="xs:int" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:simpleType name="StandardNutrients">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="TotalWeight" />
                    <xs:enumeration value="Calories" />
                    <xs:enumeration value="None" />
                    <xs:enumeration value="CaloriesFromFat" />
                    <xs:enumeration value="CaloriesFromSaturatedFat" />
                    <xs:enumeration value="CaloriesFromTransFat" />
                    <xs:enumeration value="Protein" />
                    <xs:enumeration value="Carbohydrates" />
                    <xs:enumeration value="Starch" />
                    <xs:enumeration value="TotalDietaryFiber" />
                    <xs:enumeration value="TotalSolubleFiber" />
                    <xs:enumeration value="TotalInsolubleFiber" />
                    <xs:enumeration value="TotalSugars" />
                    <xs:enumeration value="Monosaccharides" />
                    <xs:enumeration value="Galactose" />
                    <xs:enumeration value="Glucose" />
                    <xs:enumeration value="Fructose" />
                    <xs:enumeration value="Disaccharides" />
                    <xs:enumeration value="Lactose" />
                    <xs:enumeration value="Sucrose" />
                    <xs:enumeration value="Maltose" />
                    <xs:enumeration value="OtherCarbohydrates" />
                    <xs:enumeration value="NetCarbohydrates" />
                    <xs:enumeration value="Fat" />
                    <xs:enumeration value="SaturatedFat" />
                    <xs:enumeration value="MonounsaturatedFat" />
                    <xs:enumeration value="PolyunsaturatedFat" />
                    <xs:enumeration value="TransFattyAcid" />
                    <xs:enumeration value="Cholesterol" />
                    <xs:enumeration value="Water" />
                    <xs:enumeration value="Ash" />
                    <xs:enumeration value="Kilojoules" />
                    <xs:enumeration value="VitaminA" />
                    <xs:enumeration value="AlphaCarotene" />
                    <xs:enumeration value="BetaCarotene" />
                    <xs:enumeration value="BetaCaroteneEquivalent" />
                    <xs:enumeration value="VitaminB1" />
                    <xs:enumeration value="VitaminB2" />
                    <xs:enumeration value="VitaminB3" />
                    <xs:enumeration value="VitaminB3NiacinEquivalent" />
                    <xs:enumeration value="VitaminB6" />
                    <xs:enumeration value="VitaminB12" />
                    <xs:enumeration value="Biotin" />
                    <xs:enumeration value="VitaminC" />
                    <xs:enumeration value="VitaminD" />
                    <xs:enumeration value="VitaminE" />
                    <xs:enumeration value="Folate" />
                    <xs:enumeration value="FolicAcid" />
                    <xs:enumeration value="FolateDFE" />
                    <xs:enumeration value="FolateFood" />
                    <xs:enumeration value="Cryptoxanthin" />
                    <xs:enumeration value="VitaminK" />
                    <xs:enumeration value="PantothenicAcid" />
                    <xs:enumeration value="Boron" />
                    <xs:enumeration value="Calcium" />
                    <xs:enumeration value="Chloride" />
                    <xs:enumeration value="Chromium" />
                    <xs:enumeration value="Copper" />
                    <xs:enumeration value="Fluoride" />
                    <xs:enumeration value="Iodine" />
                    <xs:enumeration value="Iron" />
                    <xs:enumeration value="Magnesium" />
                    <xs:enumeration value="Manganese" />
                    <xs:enumeration value="Molybdenum" />
                    <xs:enumeration value="Phosphorus" />
                    <xs:enumeration value="Potassium" />
                    <xs:enumeration value="Selenium" />
                    <xs:enumeration value="Sodium" />
                    <xs:enumeration value="Zinc" />
                    <xs:enumeration value="Butyric" />
                    <xs:enumeration value="Caprioc" />
                    <xs:enumeration value="Caprylic" />
                    <xs:enumeration value="Capric" />
                    <xs:enumeration value="Lauric" />
                    <xs:enumeration value="Myristic" />
                    <xs:enumeration value="Pentadecanoic" />
                    <xs:enumeration value="Palmitic" />
                    <xs:enumeration value="Heptadecanoic" />
                    <xs:enumeration value="Stearic" />
                    <xs:enumeration value="Arachidic" />
                    <xs:enumeration value="Behenic" />
                    <xs:enumeration value="Tetracosanoic" />
                    <xs:enumeration value="Myristoleic" />
                    <xs:enumeration value="Pentadecenoic" />
                    <xs:enumeration value="Palmitoleic" />
                    <xs:enumeration value="Heptadecenoic" />
                    <xs:enumeration value="Oleic" />
                    <xs:enumeration value="Eicosenoic" />
                    <xs:enumeration value="Erucic" />
                    <xs:enumeration value="Nervonic" />
                    <xs:enumeration value="Linoleic" />
                    <xs:enumeration value="Linolenic" />
                    <xs:enumeration value="Stearidonic" />
                    <xs:enumeration value="Eicosatrienoic" />
                    <xs:enumeration value="Arachidonic" />
                    <xs:enumeration value="Epa" />
                    <xs:enumeration value="Dpa" />
                    <xs:enumeration value="Dha" />
                    <xs:enumeration value="Omega3FattyAcid" />
                    <xs:enumeration value="Omega6FattyAcid" />
                    <xs:enumeration value="Alanine" />
                    <xs:enumeration value="Arginine" />
                    <xs:enumeration value="AsparticAcid" />
                    <xs:enumeration value="Cystine" />
                    <xs:enumeration value="GlutamicAcid" />
                    <xs:enumeration value="Glycine" />
                    <xs:enumeration value="Histidine" />
                    <xs:enumeration value="Isoleucine" />
                    <xs:enumeration value="Leucine" />
                    <xs:enumeration value="Lysine" />
                    <xs:enumeration value="Methionine" />
                    <xs:enumeration value="Phenylalanine" />
                    <xs:enumeration value="Proline" />
                    <xs:enumeration value="Serine" />
                    <xs:enumeration value="Threonine" />
                    <xs:enumeration value="Tryptophan" />
                    <xs:enumeration value="Tyrosine" />
                    <xs:enumeration value="Valine" />
                    <xs:enumeration value="Alcohol" />
                    <xs:enumeration value="Caffeine" />
                    <xs:enumeration value="ArtificialSweetener" />
                    <xs:enumeration value="Aspartame" />
                    <xs:enumeration value="Saccharin" />
                    <xs:enumeration value="SugarAlcohol" />
                    <xs:enumeration value="Glycerol" />
                    <xs:enumeration value="Inositol" />
                    <xs:enumeration value="Mannitol" />
                    <xs:enumeration value="Sorbitol" />
                    <xs:enumeration value="Xylitol" />
                    <xs:enumeration value="OrganicAcids" />
                    <xs:enumeration value="AceticAcid" />
                    <xs:enumeration value="CitricAcid" />
                    <xs:enumeration value="LacticAcid" />
                    <xs:enumeration value="MalicAcid" />
                    <xs:enumeration value="Choline" />
                    <xs:enumeration value="Taurine" />
                    <xs:enumeration value="LuteinAndZeaxanthin" />
                    <xs:enumeration value="Lycopene" />
                    <xs:enumeration value="Cost" />
                    <xs:enumeration value="GlycemicIndex" />
                    <xs:enumeration value="GlycemicLoad" />
                    <xs:enumeration value="ExchangeFat" />
                    <xs:enumeration value="ExchangeFruit" />
                    <xs:enumeration value="ExchangeMedFatMeat" />
                    <xs:enumeration value="ExchangeNonFatMilk" />
                    <xs:enumeration value="ExchangeOtherCarbs" />
                    <xs:enumeration value="ExchangeStarch" />
                    <xs:enumeration value="ExchangeVegetables" />
                    <xs:enumeration value="ExchangeLeanMeat" />
                    <xs:enumeration value="ExchangeRedFatMilk" />
                    <xs:enumeration value="ExchangeWholeMilk" />
                    <xs:enumeration value="ExchangeHighFatMeat" />
                    <xs:enumeration value="ExchangePlantProtein" />
                    <xs:enumeration value="ExchangeAlcohol" />
                    <xs:enumeration value="Polysaccharides" />
                    <xs:enumeration value="Polyphenols" />
                    <xs:enumeration value="MyPlateGrainTotal" />
                    <xs:enumeration value="MyPlateVegetableTotal" />
                    <xs:enumeration value="MyPlateFruit" />
                    <xs:enumeration value="MyPlateDairy" />
                    <xs:enumeration value="MyPlateProteinTotal" />
                    <xs:enumeration value="SolubleFiber" />
                    <xs:enumeration value="OtherSolubleFiber" />
                    <xs:enumeration value="OtherInsolubleFiber" />
                    <xs:enumeration value="OtherFiber" />
                    <xs:enumeration value="DietaryFiber" />
                    <xs:enumeration value="InsolubleFiber" />
                    <xs:enumeration value="AddedSugar" />
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="LabelSettingsDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
                            <xs:element minOccurs="1" maxOccurs="1" name="IsTemplate" type="xs:boolean" />
                            <xs:element minOccurs="1" maxOccurs="1" name="UseAbbreviations" type="xs:boolean" />
                            <xs:element minOccurs="1" maxOccurs="1" name="Width" type="xs:int" />
                            <xs:element minOccurs="1" maxOccurs="1" name="Height" type="xs:int" />
                            <xs:element minOccurs="1" maxOccurs="1" name="FontSize" type="xs:int" />
                            <xs:element minOccurs="0" maxOccurs="1" name="FontFamily" type="xs:string" />
                            <xs:element minOccurs="1" maxOccurs="1" name="FootnoteFontSize" type="xs:int" />
                            <xs:element minOccurs="1" maxOccurs="1" name="HeaderFontSize" type="xs:int" />
                            <xs:element minOccurs="1" maxOccurs="1" name="HeavyBarSize" type="xs:int" />
                            <xs:element minOccurs="1" maxOccurs="1" name="LightBarSize" type="xs:int" />
                            <xs:element minOccurs="1" maxOccurs="1" name="IndentSize" type="xs:int" />
                            <xs:element minOccurs="1" maxOccurs="1" name="AmountInColumn" type="xs:boolean" />
                            <xs:element minOccurs="1" maxOccurs="1" name="AmountHeaderInColumn" type="xs:boolean" />
                            <xs:element minOccurs="1" maxOccurs="1" name="NameWidth" type="xs:int" />
                            <xs:element minOccurs="1" maxOccurs="1" name="AmountWidth" type="xs:int" />
                            <xs:element minOccurs="0" maxOccurs="1" name="AmountColumnJustification" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="ColumnJustification" type="xs:string" />
                            <xs:element minOccurs="1" maxOccurs="1" name="IsLinear" type="xs:boolean" />
                            <xs:element minOccurs="1" maxOccurs="1" name="UseBold" type="xs:boolean" />
                            <xs:element minOccurs="1" maxOccurs="1" name="OptimalParagraph" type="xs:boolean" />
                            <xs:element minOccurs="1" maxOccurs="1" name="Hyphenation" type="xs:boolean" />
                            <xs:element minOccurs="1" maxOccurs="1" name="LinearJustify" type="xs:boolean" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ConditionDto">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EshaDto">
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Claim" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="NutrientIds" type="tns:ArrayOfGuid" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ArrayOfString1">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Abbreviation" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DictionaryOfGuidToQuantityDto">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" type="tns:ItemOfGuidQuantityDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ItemOfGuidQuantityDto">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="Key" type="mstypes:guid" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Value" type="tns:QuantityDto" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DictionaryOfGuidToAllergenRule">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" type="tns:ItemOfGuidAllergenRule" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ItemOfGuidAllergenRule">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="Key" type="mstypes:guid" />
                    <xs:element minOccurs="1" maxOccurs="1" name="Value" type="tns:AllergenRule" />
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="AllergenRule">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="None" />
                    <xs:enumeration value="Mandatory" />
                    <xs:enumeration value="SpecializationMandatory" />
                    <xs:enumeration value="Optional" />
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>

        <xs:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://microsoft.com/wsdl/types/">
            <xs:simpleType name="guid">
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="NewFoodRequest">
        <wsdl:part name="parameters" element="tns:NewFoodRequest"/>
    </wsdl:message>
    <wsdl:message name="NewFoodResponse">
        <wsdl:part name="parameters" element="tns:NewFoodResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateFoodRequest">
        <wsdl:part name="parameters" element="tns:UpdateFoodRequest"/>
    </wsdl:message>
    <wsdl:message name="UpdateFoodResponse">
        <wsdl:part name="parameters" element="tns:UpdateFoodResponse"/>
    </wsdl:message>
    
    <wsdl:portType name="IFoodEditService">
        <wsdl:documentation>
            &lt;summary&gt;&#xD;
            Service contract for queries on published Genesis foods.&#xD;
            &lt;/summary&gt;
        </wsdl:documentation>
        <wsdl:operation name="NewFood">
            <wsdl:input wsaw:Action="http://ns.esha.com/2013/genesisapi/newfood" name="NewFoodRequest" message="tns:NewFoodRequest"/>
            <wsdl:output wsaw:Action="http://ns.esha.com/2013/genesisapi/newfoodresponse" name="NewFoodResponse" message="tns:NewFoodResponse"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateFood">
            <wsdl:input wsaw:Action="http://ns.esha.com/2013/genesisapi/updatefood" name="UpdateFoodRequest" message="tns:UpdateFoodRequest"/>
            <wsdl:output wsaw:Action="http://ns.esha.com/2013/genesisapi/updatefoodresponse" name="UpdateFoodResponse" message="tns:UpdateFoodResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WSHttpBinding_IFoodEditService" type="tns:IFoodEditService">
        <wsp:PolicyReference URI="#WSHttpBinding_IFoodEditService_policy"/>
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="NewFood">
            <soap12:operation soapAction="http://ns.esha.com/2013/genesisapi/newfood" style="document"/>
            <wsdl:input name="NewFoodRequest">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="NewFoodResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateFood">
            <soap12:operation soapAction="http://ns.esha.com/2013/genesisapi/updatefood" style="document"/>
            <wsdl:input name="UpdateFoodRequest">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateFoodResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FoodEditSoapService">
        <wsdl:port name="WSHttpBinding_IFoodEditService" binding="tns:WSHttpBinding_IFoodEditService">
            <soap12:address location="http://localhost:50406/soap/FoodEditService.svc"/>
            <wsa10:EndpointReference>
                <wsa10:Address>http://localhost:50406/soap/FoodEditService.svc</wsa10:Address>
            </wsa10:EndpointReference>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>